$color_text: #4b4a4a;
%h1 {
    font-family: Golos;
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
    color: $color_text;
}
%h2 {
    color: $color_text;
    font-family: Golos;
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
}
%h3 {
    font-family: Golos;
    font-size: 21px;
    font-weight: 500;
    line-height: 21px;
    color: $color_text;
}
%h4 {
    font-family: Golos;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $color_text;
}
%BodyM {
    font-family: Golos;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: $color_text;
}
%Text {
    font-family: Golos;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.fop__section {
    padding: 116px 16px 16px;
    h2 {
        @extend %h2;
        margin-bottom: 16px;
        span {
            color: rgb(233, 95, 95);
        }
    }
    ol {
        list-style: inside decimal;
        margin-top: 16px;
        li {
            @extend %Text;
            margin-bottom: 16px;
            max-width: 600px;
        }
    }
    p {
        @extend %Text;
        margin-bottom: 16px;
    }
    h3 {
        font-family: Golos;
        font-size: 21px;
        font-weight: 500;
        line-height: 21px;
        color: rgb(233, 95, 95);
        margin-bottom: 16px;
    }
}
