@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait {
  @media (max-width: 768px) {
    @content;
  }
}

.container {
  .title__section {
    margin: 134px 0 50px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include for-phone-only {
      margin: 100px 0 32px;
    }
    h2 {
      font-family: Golos;
      font-size: 27px;
      font-weight: 700;
      line-height: 27px;
      color: #4b4a4a;
    }

    h1 {
      font-family: Golos;
      font-size: 36px;
      font-weight: 900;
      line-height: 43px;
      color: #4b4a4a;
    }
  }
  .carousel {
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff0000'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
      @include for-phone-only {
        background-image: none;
      }
    }
    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff0000'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
      @include for-phone-only {
        background-image: none;
      }
    }

    .lessons {
      min-height: 400px;
      padding: 16px;
      background-image: url(../img/Slider-1-background.jpg);
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @include for-phone-only {
        justify-content: flex-start;
      }

      @include for-tablet-portrait {
        background-image: url(../img/Slider-1-background-phone.jpg);
        background-position: right;
        padding: 16px;
        min-height: 300px;
      }
      @include for-phone-only {
        background-image: url(../img/Slider-1-background-phone.jpg);
        background-position: right;
        background-size: cover;
        padding: 16px;
        min-height: 250px;
      }
      h3 {
        font-size: 27px;
        font-weight: 700;
        line-height: 34px;
        color: #4b4a4a;;
        margin: 24px 0 8px 150px;
        span {
          color: #cc0001;
        }
        @include for-phone-only {
          font-size: 21px;
          line-height: 24px;
          margin: 0 0 16px 24px;
        }
      }
      .text {
        font-size: 21px;
        font-weight: 700;
        line-height: 27px;
        color: #4b4a4a;
        margin: 0 0 0 150px;
        span {
          color: #cc0001;
        }
        @include for-phone-only {
          font-size: 16px;
          line-height: 21px;
          margin: 0 0 0 24px;
        }
      }
    }
    .meet {
      text-align: center;
      min-height: 400px;
      padding: 16px;
      background-image: url(../img/Slider-2-background.jpg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include for-tablet-portrait {
        background-image: url(../img/Slider-2-background.jpg);
        background-position: right;
        padding: 16px;
        min-height: 300px;
      }
      @include for-phone-only {
        background-position: center;
        background-size: cover;
        min-height: 250px;
      }
      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        color: white;
        margin: 32px 0 8px;
      }
      .text {
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        color: white;
        margin: 16px 0 8px;
      }
    }

  }
}