@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait {
    @media (max-width: 768px) {
        @content;
    }
}
$color_text: #4b4a4a;
%h1 {
    font-family: Golos;
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
    color: $color_text;
}

%h2 {
    font-family: Golos;
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
    color: $color_text;
}

.title__section {
    padding: 140px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @include for-tablet-portrait {
        padding: 140px 30px;
    }
    h2 {
        @extend %h2;

        @include for-phone-only {
            text-align: right
        }
    }

    h1 {
        @extend %h1;

        @include for-phone-only {
            text-align: right;
        }
    }

    @include for-phone-only {
        align-self: center;
    }
}
