$color_text: #4b4a4a;
%h1 {
    font-family: Golos;
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
    color: $color_text;
}
%h2 {
    color: $color_text;
    font-family: Golos;
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
}
%h3 {
    font-family: Golos;
    font-size: 21px;
    font-weight: 500;
    line-height: 21px;
    color: $color_text;
}
%h4 {
    font-family: Golos;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $color_text;
}
%BodyM {
    font-family: Golos;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: $color_text;
}
%Text {
    font-family: Golos;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.legalisation__section {
    padding: 116px 16px 16px;
    h2 {
        color: #4b4a4a;
        font-family: Golos;
        font-size: 27px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 24px;
    }
    h3 {
        font-family: Golos;
        font-size: 19px;
        font-weight: 500;
        line-height: 21px;
        color: #4b4a4a;
    }
    h4 {
        font-family: Golos;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: #4b4a4a;
    }
    h5 {
        font-family: Golos;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        color: #4b4a4a;
    }
}   