.money__section {
    padding: 100px 16px 16px;

    h2 {
        color: #4b4a4a;
        font-family: Golos;
        font-size: 21px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 16px;
    }
    h3 {
        font-family: Golos;
        font-size: 19px;
        font-weight: 700;
        line-height: 19px;
        color: #4b4a4a;
        margin-bottom: 16px;
        span {
            color: #a326f7;
            margin-bottom: 8px;
            font-weight: 500;
        }
    }
    h4 {
        font-family: Golos;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #4b4a4a;
        margin-bottom: 8px;
        span {
            color: #e21b88;
        }
    }
    
    p {
        font-family: Golos;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 16px;
        color: #4b4a4a;
        span {
            color: #e21b88;
        }
    }
    ul {
        list-style: inside;
        li {
            font-family: Golos;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: #4b4a4a;
            margin-bottom: 16px;
        }
        ol {
            li {
                list-style: decimal inside;
                font-family: Golos;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                color: #4b4a4a;
                margin-bottom: 8px;
                span {
                    color: #e21b88;
                    margin-bottom: 8px;
                }
            }
        }
    }
    .links {
        margin-bottom: 16px;
    }
    ol {
        li {
            list-style: decimal inside;
            font-family: Golos;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: #4b4a4a;
            margin-bottom: 8px;
            span {
                color: #e21b88;
                margin-bottom: 8px;
            }
        }
        ul {
            padding-left: 16px;
            list-style:square;
            li {
                list-style:inside;
                color: #4b4a4a;
            }
        }
    }
}
