$color_text: #4b4a4a;
%h1 {
    font-family: Golos;
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
    color: $color_text;
}
%h2 {
    color: $color_text;
    font-family: Golos;
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
}
%h3 {
    font-family: Golos;
    font-size: 21px;
    font-weight: 500;
    line-height: 21px;
    color: $color_text;
}
%h4 {
    font-family: Golos;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $color_text;
}
%BodyM {
    font-family: Golos;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: $color_text;
}
%Text {
    font-family: Golos;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.money__section {
    padding: 16px;

    h2 {
        @extend %h2;
        margin-bottom: 16px;

        @include for-phone-only {
            font-size: 24px;
            line-height: 29px;
        }
    }
    p {
        @extend %Text;
        margin-bottom: 16px;
        max-width: 600px;
    }
    h3 {
        @extend %h3;
        margin-bottom: 16px;
    }
    ul {
        list-style: inside;
        li {
            @extend %BodyM;
            margin-bottom: 16px;
        }
        ol {
            list-style: inside decimal;
            margin-top: 16px;
            li {
                @extend %Text;
                margin-bottom: 16px;
                max-width: 600px;
            }
        }
    }
}
