.rent__section {
  padding: 100px 16px 16px;
  h2 {
    color: #4b4a4a;
    font-family: Golos;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 24px;
    @include for-phone-only {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }
  }
  .rent__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    .rent__link {
      text-decoration: none;
      width: 20%;
      @include for-tablet-portrait {
        width: 33%;
      }
      
      @include for-phone-only {
        width: 49%;
      }
      .rent__item {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: 0.3s;
        border-radius: 5px;
        min-height: 200px;
        margin: 16px;
        padding: 16px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @include for-tablet-portrait {
          min-height: 150px;
          margin: 8px;
        }
        @include for-phone-only {
          min-height: 120px;
          padding: 16px 8px 8px;
        }
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
        
        // @include for-tablet-portrait {
        //     width: 27%;
        //     height: 120px;
        // }
        .rent__logo {
          width: 50%;
          margin-bottom:16px;
          @include for-tablet-portrait {
            width: 40%;
          }
          @include for-phone-only {
            width: 40%;
            margin-bottom: 8px;
          }
        }
        .rent__title {
          font-family: Golos;
          font-size: 14px;
          font-weight: 400;
          color: #4b4a4a;
          margin-bottom: 16px;
          text-align: center;
          @include for-phone-only {
            margin-bottom: 8px;
          }
      }
        .rent__text {
          font-family: Golos;
          font-size: 12px;
          font-weight: 400;
          color: #4b4a4a;
          text-align: center;
          @include for-phone-only {
            font-size: 12px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

