@import "_reset.scss";
// @import "_navigation.scss";
@import "_header.scss";
@import "_index.scss";
@import "_appartment.scss";
@import "_entry.scss";
// @import "_feednewsactive.scss";
// @import "_feedconclusions.scss";
// @import "_info.scss";
// @import "_filter.scss";
// @import "_sort.scss";
// @import "_sortnews.scss";
// @import "_add.scss";
// @import "_news.scss";
// @import "_newsactive.scss";
// @import "_education.scss";
// @import "_educationfilter.scss";
// @import "_educationsort.scss";
// @import "_educationactive.scss";
// @import "_educationtoutorial.scss";
// @import "_main.scss";
// @import "_fixes.scss";
// @import "slick.scss";
// @import "_terms.scss";

// @font-face {
//     font-family: Golos;
//     src: url(../Golos-Text.web/PT/PT/Golos-Text/Golos-Text_VF.WOFF);
// }
.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
}

$color_background: #FFFFEC;
$color_filter-text: #FFFFEC;
$color_black: #292F36;
$color_blue20: #E6F0ED;
$color_blue50: #82B3F2;
$color_green20: #DFEFCE;
$color_green50: #5FAD56;
$color_yellow20: #FFF7D1;
$color_yellow50: #FED766;
$color_red20: #F3C6B2;
$color_red50: #DD614A;

%h3 {
    font-family: Golos;
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
}

%h4 {
    color: $color_black;
    font-family: Golos;
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
}

%h5 {
    font-family: Golos;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: $color_black;
}
%h6 {
    font-family: Golos;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $color_black;
}
%BodyM {
    font-family: Golos;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: $color_black;
}
%BodySMBold {
    font-family: Golos;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    // color: $color_black;
}
%BodySM {
    font-family: Golos;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: $color_black;
}
%Text {
    font-family: Golos;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
%HeadingsXS {
    font-family: Golos;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $color_black;
}

// @mixin for-small-phone-only {
//     @media (max-width: 374px) {
//         @content;
//     }
// }

// @mixin for-landscape-phone-only {
//     @media screen and (min-width: 415px) and (orientation:landscape) {
//         @content;
//     }
// }

// .container {
//     background: $color_background;
//     min-width: 375px;

//     @include for-small-phone-only {
//         min-width: 320px;
//     }

//     @include for-landscape-phone-only {
//         max-width: 767px;
//     }
// }

a:focus {
    outline: none;
}