@import "_reset.scss";
@import "_header.scss";
@import "_index.scss";
@import "_entry.scss";


@font-face {
    font-family: "Raleway";
    src: url("/Raleway/Raleway-Bold.woff") format("woff");
    src: url("/Raleway/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("/Raleway/Raleway-SemiBold.woff") format("woff");
    src: url("/Raleway/Raleway-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url("/Raleway/Raleway-Medium.woff") format("woff");
    src: url("/Raleway/Raleway-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Raleway";
    src: url("/Raleway/Raleway-MediumItalic.ttf") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("/Raleway/Raleway-Regular.woff") format("woff");
    src: url("/Raleway/Raleway-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("/Raleway/Raleway-Italic.ttf") format("ttf");
    src: url("/Raleway/Raleway-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}


// font-weight: 700;
// font-size: 24px;
// font-size: 21px;

// font-weight: 600;
// font-size: 19px;
// font-size: 16px;

// font-weight: 400;
// font-size: 16px;

// font-weight: 500;
// font-size: 12px;
// font-size: 16px;
// font-size: 19px;

// font-weight: 400;
// font-style: italic;
// font-size: 16px;
// font-size: 19px;

// font-weight: 500;
// font-style: italic;
// font-size: 16px;

.container {
    font-family: "Raleway";
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait {
    @media (min-width: 599px) and (max-width: 870px) {
        @content;
    }
}
// @mixin for-tablet-portrait {
//     @media (min-width: 600px) and (orientation:landscape) and (max-width: 870px) {
//         @content;
//     }
// }

a:focus {
    outline: none;
}
