@import "_reset.scss";
// @import "_navigation.scss";
@import "_header.scss";
@import "_index.scss";
// @import "_rent.scss";
@import "_entry.scss";
// @import "_legalisation.scss";
// @import "_money.scss";
// @import "_fop.scss";
// @import "_lviv.scss";
// @import "_viza.scss";
// @import "_vaccinations.scss";
// @import "_educationfilter.scss";
// @import "_educationsort.scss";
// @import "_educationactive.scss";
// @import "_educationtoutorial.scss";
// @import "_main.scss";
// @import "_fixes.scss";
// @import "slick.scss";
// @import "_terms.scss";


@font-face {
    font-family: Golos;
    src: url(../Golos-Text.web/PT/PT/Golos-Text/Golos-Text_VF.WOFF);
}
.container {
    font-family: Golos;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait {
    @media (min-width: 599px) and (max-width: 870px) {
        @content;
    }
}
// @mixin for-tablet-portrait {
//     @media (min-width: 600px) and (orientation:landscape) and (max-width: 870px) {
//         @content;
//     }
// }

a:focus {
    outline: none;
}
